.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register {
  width: 200px;
  margin: 0 auto;
}

#finishRegister {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #b23100;
}

.login {
  width: 150px;
  margin: 0 auto;
}

#button-signIn{
  margin-top: 10px;
  background-color: #b23100;
}

#button-register{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #b23100;
}

.footer {
  text-align: center;
  background-color: #fcb209;
}

.roleLabel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectRole{
  height: 32px;

}

.logoImg{
  max-width: 100%;
}

.orders {
  max-width: 200px;
  /* display: flex; */
  margin: 0 auto;
  margin-left: 20px;
}

.intro {
  display: flex;
}


.all-day {
  margin-top: 20px;
  margin-bottom: 20px;
  /* max-width: 400px; */

}

.breakfast {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  /* max-width: 400px; */
}

.currentOrder {
  margin: 0 auto;
  max-width: 55%;
  margin-left: 20px;
}

#orderTitle{
margin: 0 auto;
}

.orderItens {
  margin: 5px;
  padding-inline: 2px;
  display:flex;
}

#orderBtn {
  justify-content: center;
  background-color: #b23100;
}

#hallBtn {
  background-color: #9fa117;
  margin: 0 auto;
  margin-left: 2px;
}

#hallBtn1 {
  background-color: #9fa117;
  margin: 0 auto;
  margin-left: 50px;
}

#logoutBtn {
  background-color: #b23100;
  color: white;
  margin: 0 auto;
  margin-top: 7px;
  margin-right: 20px;
  display: flex
}

.headerItem {
  display: flex;
}